body{
    margin:0;
    padding: 0;
    background-image: url("resources/hyperion/background.jpg");
    background-size: cover;
}

header{
     height: 60px;
     background-color:rgba(0, 0, 0, 0.6);
     width:100%;
     position: fixed;
     top:0;
     z-index: 10;
 } 

header #logo{
    display: inline-block; 
    position: relative;
    /* margin: 20px 0px; */
    height: 100%;
    /* float:left; */
    line-height:60px;
    left: 10%;
}

header #logo img{
    margin: 0px 20px;
    position: relative;
    top: 10%;
    width:60%;
}

header #nav{
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 30%;  
}

header #nav>ul{
    border: none;
}
header #nav li{
    display: block;
    position: relative;
    float:left;
    line-height: 60px;
    height: 60px;
    text-align: center;
    width: 100px;
    border: none;
}

header #nav li a{
    display: block;
    color: #FFF;
    font-family: "微軟正黑體","Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-weight: bolder;
    font-size: 15px;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
}
header #nav li .ui-state-active{
    background-color: #FED100;
    color: #000;
}


header #nav ul.submenu  {
    width: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    display: inline-block;
    vertical-align: top;
    border: none;
}

header #nav ul.submenu li {
    width: 100%;
}

header #nav ul.submenu li a {
    width: 100%;
    font-size: 12px;
}

#logo-large{
    display: block;
    margin-top: 15em;
}

#logo-large img{
    display: block;
    width: 25%;
    margin:auto;
}

#logo-large div{
    margin-top: 8em;
}

#logo-large p{
    display: block;
    text-align: center;
    color: #FFF;
    font-family: "微軟正黑體","Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size:15px;
    font-weight: bold;
}

#trailer{
    display:block;
    margin-top: 10em;
}
#trailer div{
    display:block;
    margin: auto;
    width: 960px;
    border: 1px solid white;
}
#trailer div iframe{
    display: block;
    margin:auto;
} 
#trailer div p{
    margin-left: 50px;
    color:white;
    text-align: middle;
    font-family: "微軟正黑體","Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    height: 15px;
     line-height: 15px; 
    font-size:20px;
}

#games{
    margin-top: 10em;
}

#games>p{
    text-align: center;
    color:white;
    font-family: "微軟正黑體","Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size:30px;
    margin-bottom: 2em;
}

#games table{
    margin: 0 auto;
}


#games table td div{
    margin: 30px 40px;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    background-color: white;
}
#games .preview{
    float:left;
    display: block;
    width: 500px;
    border: none;
    opacity: 1;
    transform: scale(1);
    transition: .3s ease-in-out; 
}
#games .preview:hover{
     opacity: .9; 
     transition: .3s ease-in-out; 
     transform: scale(1.2);
    /* border: none; */
}
#games .icon{
    position: absolute;
    display: block; 
    top:10px;
    right:10px;
    max-width: 20px;
}

#games table tr td p{
    position: absolute; 
    bottom:0px; 
    left:0;
    width:100%;  
    float:left;
    margin: 0;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 30px;
    height: 30px;
    color:white;
    font-family: "微軟正黑體","Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size:15px;
    background-color: rgba(0, 0, 0, 0.5);
}

#contact{
    margin-top: 5em;
}

#contact p{
    text-align: center;
    color:white;
    font-family: "微軟正黑體","Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size:20px;
    margin:1em auto;
}
#contact div{
    text-align: center;
    margin: 2em auto;
}
#contact .sns img{
    width: 10%;
    margin: auto 20px;
}
#contact .vacancy img{
    width:5%;
}


#footer{
    display: block;
    position: relative;
    bottom: 0;
    margin-top: 3em;
    height: 15em;
    width: 100%;
    background: linear-gradient(#202020,black);
    text-align: center;
    padding: 1px;
}

#footer p{
    margin: 2em auto;
    color:white;
    font-family: "微軟正黑體","Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size:20px;
    font-weight: bold;
    position: relative;
}

#footer .disclaimer{
    position:relative;
    bottom: 20px;
    text-align: center;
    margin: auto;
}

#footer .disclaimer p{
    text-align: center;
    font-size:10px;
}